:root {
  --color-white: #fff;
  --color-text: #bdbdbd;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: nunito, sans-serif;
}
.container {
  min-height: 500px;
  height: 500px;
  width: 400px;
  min-width: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: url("./img/background.jpg"), repeat-x;
  background-size: cover;
  padding: 1em;
  padding-right: 0em;
}
.content {
  padding: 0.5em;
  padding-right: 0em;
  display: flex;
  flex-direction: column;
}
.content ul {
  padding: 0;
  margin: 0;
}
.header {
  margin-bottom: 20px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.my-day {
  font-size: 25px;
  font-weight: 500;
  color: var(--color-white);
}
#date {
  color: var(--color-white);
  font-size: 14px;
  margin-top: 5px;
}
#list {
  overflow: hidden;
  overflow-y: scroll;
  height: 335px;
  padding-right: 1em;
}
#list::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
#list::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 50px;
}
.item {
  margin-bottom: 3px;
  height: 50px;
  background: #252525;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}
.item:hover {
  background: #333333;
  box-shadow: rgba(0, 0, 0, 1);
}
.item i.co {
  font-size: 20px;
  padding-left: 1%;
  color: var(--color-text);
  position: absolute;
  top: 15px;
  left: 10px;
}
.item i.co:hover {
  cursor: pointer;
}
.fa-check-circle {
  color: #6eb200;
}
.item p.text {
  pointer-events: none;
  position: absolute;
  font-size: 14px;
  top: 3px;
  left: 50px;
  color: var(--color-text);
}
.lineThrough {
  text-decoration: line-through;
  color: #ffffff;
}
.item i.de {
  position: absolute;
  font-size: 20px;
  right: 23px;
  top: 15px;
  color: var(--color-text);
}
.item i.de:hover {
  color: #ff2424;
  cursor: pointer;
}
.input-list-item {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-top: 0.5em;
  border-radius: 5px;
  margin-right: 1.5em;
}
.input-list-item i.co {
  font-size: 20px;
  margin-left: 15px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}
input {
  background-color: transparent;
  height: 45px;
  width: 100%;
  padding: 10px 15px;
  border: none;
  color: var(--color-white);
  font-size: 14px;
  outline: none;
}
.input-list-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.input-list-item:focus {
  background-color: rgba(0, 0, 0, 0.9);
}
input::placeholder {
  /* Firefox 19+ */
  color: var(--color-white);
}
